@import 'part:@sanity/base/theme/variables-style';

.container {
  composes: container from "part:@sanity/dashboard/widget-styles";
}

.spinnerContainer {
  position: absolute;
  z-index: 900;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: color(var(--component-bg) a(50%));
  color: var(--text-color);
}

.header {
  composes: header from "part:@sanity/dashboard/widget-styles";
  background: var(--checkerboard-color);
  border-top-left-radius: var(--border-radius-base);
  border-top-right-radius: var(--border-radius-base);
}

.header h2 span {
  float: right;
  font-size: var(--font-size-small);
}

.header h2 svg {
  float: right;
  width: 30px;
  height: 100%;
  margin-top: -3px;
  margin-left: 10px;
}

.title {
  composes: title from "part:@sanity/dashboard/widget-styles";
}

.content {
  composes: content from 'part:@sanity/dashboard/widget-styles';
  border-top: 1px solid var(--hairline-color);
  position: relative;
  padding: var(--medium-padding);
}

.textarea {
  composes: root from 'part:@sanity/base/theme/forms/textarea-style';
  background: none;
  font-size: var(--font-size-large);
  width: 100%;
  height: 100%;
  height: stretch;
  font-weight: 300;
  border: none;
  resize: none;
  padding: 0;
}

.textarea:focus {
  background: none !important;
  box-shadow: none !important;
}

.textarea:focus::placeholder {
  color: inherit;
}

.footer {
  composes: footer from 'part:@sanity/dashboard/widget-styles';
  border-top: 1px solid var(--hairline-color);
}

.footer button {
  cursor: pointer;
}
